<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning more about Brian</title>
</head>
<body>
    <p>A link to the <a href="/hello">Hello Page</a>.</p>

    <h1>Get to know more about Brian!</h1>
    <p>In this short site, you will learn <strong>very important</strong>
        things about me including class courses, hobbies, and interests.
        Feel free to ask me about any of my <em>wonderful</em> experiences.</p>

    <!--These courses were some of my favorite. -->
    <h2>These are a few courses and the semester I took them.</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT398a</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT485</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>ASTR101</td>
            <td>Spring 2022</td>
        </tr>
    </table>
    <!-- This is the logo of the Smith School of Business. -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="159" height="42" alt="Smith Logo">

    <h2>Here are some EDM festivals I have been to!</h2>
    <ul>
        <li>Moonrise (Baltimore, MD)</li>
        <li>EDC Orlando (Orlando, FL)</li>
        <li>Electric Zoo (Randel's Park, NY)</li>
        <li>Project Glow (Washington, DC)</li>
    </ul>

    <h2>Now here are my top 5 EDM genres </h2>
    <ol>
        <li>Bass House</li>
        <li>Melodic Bass</li>
        <li>Dubstep</li>
        <li>Tech House</li>
        <li>Progressive House</li>
    </ol>

    <!--Here is the code to hyperlink my favorite playlist. -->
    <p>This next link will lead you to one of Brian's most
        prized possessions. <em><strong>His playlist!</strong></em></p>
    <p>Here's the link to
        <a href="https://open.spotify.com/playlist/6p8RCOockVx9PKv1TiXlKJ?si=168e10253be14896"
           target="_blank">Brian's Playlist</a>.</p>

    <p>Similarly, here is one of my favorite websites to browse -
        <a href="https://edm.com/" target="_blank">EDM.com</a></p>

</body>
</html>